body{
    background-color: #f4f4f4;
}

#content {
    margin-left: 80px;
     margin-right: 80px;
}

#greeting-container {
     margin-top: 20px;
}

#header {
    height: 60px;
    width: 100%;
    background-color: #6983aa;
    margin-bottom: 20px;
}

#header a{
     float: right;
}
#login-container {
    float: left;
}
#welcome-message {
    margin: 6px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #8ec6c5;
    margin: 6px;
}

a:hover {
    color: #8566aa
}
#pic{
    display: inline-block;
}
#funfact {
    background-color: #8ec6c5;
    padding: 20px;
    margin: 20px 60px 20px 60px;
}
#intro {
    position: absolute;
    margin-left: 40px;
    height: 500px;
    width: 60%;
    display: inline-block;
}
#comment {
    background-color: #8ec6c5;
    padding: 20px;
    margin: 20px 60px 20px 60px;
}
.comment-entry-user {
    color: #8566aa
}
.comment-entry {
    list-style: none;
    border-bottom: 1px solid #6983aa;
    padding: 10px;
}
#comment-container{
    margin-bottom: 20px;
}

#login-url {
    text-decoration: none;
    color: #8566aa;
    margin: 6px;

}